sudo: required
dist: xenial
language: node_js
cache:
- npm
notifications:
  email:
    on_success: never
    on_failure: change
matrix:
  include:
  - os: osx
    node_js: lts/*
before_install:
- openssl aes-256-cbc -K $encrypted_54fc707ebb3b_key -iv $encrypted_54fc707ebb3b_iv
  -in cloud-storage-key.json.enc -out cloud-storage-key.json -d
install:
- npm install
script:
- npm run download
- npm run convert
- npm run upload
