sudo: required
dist: xenial
# addons:
#   apt:
#     packages:
#     - debian-archive-keyring
#     - debian-multimedia-keyring
#     - ffmpeg
#     - libmp3lame0

language: node_js
cache: 
  - npm

notifications:
  email:
    on_success: never
    on_failure: change

matrix:
  include:
    - os: linux
      node_js: lts/*
    - os: windows
      node_js: lts/*

install:
  # - sudo apt install aptitude
  # - sudo aptitude install debian-archive-keyring debian-multimedia-keyring 
  # - sudo apt update

  # - sudo apt install ffmpeg libmp3lame0
  - npm install

script:
  - npm run download
  - npm run convert

deploy:
  overwrite: true
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file: out/*
  skip_cleanup: true
  draft: true